// @vuepress/plugin-search
.search-box
  margin-right 0 !important
  margin-left 1rem
  input
    padding 0 2rem 0 0.5rem !important
    background-position-x calc(100% - .6em) !important

// @vuepress/plugin-back-to-top"
.go-to-top
  right auto !important
  left 2.5rem !important

// vuepress-plugin-container
.vue-container
  direction ltr !important
  text-align left !important